

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;	
	background-color: @hampton;
	font-family: @font-base;
	color: @black;
}

img {
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
	 &:link, &:visited, &:active, &:hover{
		text-decoration: none;
		color: inherit;
	   	outline : none;
	}
}

