<html>
<head>
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Info | RahieMakeup </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="../public/css/rahiemakeup-style.css">
    <!--<link rel="stylesheet" href="/../bower_components/sliding-horizontal-parallax/css/sequencejs-theme.sliding-horizontal-parallax.css" /> -->
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
      <script src="../public/js/vendor/modernizr.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARJlyuGlqgbTHW3Dh2aWDLdK-GqljaQ3c"></script>
      <script type="text/javascript">
        "use strict";
          function initialize() {
            var myLatlng = new google.maps.LatLng(-37.8862,145.2824);
            var mapOptions = {
              center: myLatlng,
              zoom: 12,
              disableDefaultUI:true
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
             var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                animation: google.maps.Animation.DROP
            });
             google.maps.event.addListener(marker, 'click', toggleBounce);
          }
          function toggleBounce() {

            if (marker.getAnimation() != null) {
              marker.setAnimation(null);
            } else {
              marker.setAnimation(google.maps.Animation.BOUNCE);
            }
          }
          google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <!-- endbuild -->
</head>
<body id="info">
  <section class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
          <h3 class="h-style">Want to look like a star?!!<br>Here I am to fulfill your dream</h3>
          <img src="../public/image/info/info.png" class="image-style">
          <p class="p-style">
            I am a freelance make-up artist, specializing in wedding, debs, formal and fashion make-up. I am a qualified make-up artist and I have been trained to do all types of make-up from Smokey and Classic to Gothic Glam and Retro. I approach each make-up as a unique study of face and I use the best of best, lasting and flawless products to accentuate your best features while masking imperfections.
            My clients tell me that I have a unique talent in highlighting each face’s distinctive natural beauty, through expertly make-up techniques and an absolute desire to achieve impressive results. I love seeing my clients smile, and always strive to make each person happy with my work and never let anyone leave unless she feels happy and I myself feel satisfied.
          </p>
          <div id="map-canvas" class="google-map"></div>
          <div class="contact">
            <div class="contact-item">
              <a href=""><i class="icon fa fa-map-marker"></i>Melbourn, Australia</a>
              <a href=""><i class="icon fa fa-envelope-o"></i>rahiemakeup@gmail.com</a>
            </div>
            <div class="contact-item">           
              <a href=""><i class="icon fa fa-phone"></i>+61 403 019 737</a>
              <a href=""><i class="icon fa fa-bookf"></i>fb.com/</a>  
            </div>        
          </div>
          

        </div>
      </div><!-- row -->
      
    </div><!-- container -->
  </section><!-- content-wrapper -->




  <footer id="footer">
      <div class="row">
        <div class="col-xs-5 col-sm-6">
          <img src="../public/image/logo.png">
        </div>
        <div class="col-xs-7 col-sm-6">
          <div class="contact">
            <a href=""><i class="icon fa fa-bookf"></i></a>
            <a href=""><i class="icon fa fa-envelope-o"></i></a>
            <a href=""><i class="icon fa fa-phone"></i></a>
            <a href="partials/info.html" class="vert-line"><i class="icon fa fa-info"></i></a>
          </div>
        </div>
        <div class="hidden-xs col-sm-12">
          <p class="footer-text">Copyright © 2014 Rahiemakeup.com.au All Rights Reserved</p>
        </div>
      </div>   
  </footer>





  <script src="../public/js/vendor/jquery.min.js"></script>
  <script src="../public/js/vendor/bootstrap.js"></script>


  

</body>
</html>